.footer {
    margin: 66px auto 60px;
    max-width: 880px;
    box-sizing: border-box;
}

@media screen and (max-width: 910px) {
    .footer {
      padding: 0 28px 0;
    }
}

@media screen and (max-width: 321px) {
    .footer {
        margin: 48px auto 36px;
        padding: 0 19px 0;
        width: 100%;
    }
}
