.cards__delete-button {
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url("../../../images/trash.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.cards__delete-button:hover {
    opacity: .6;
}
