.cards__title {
    margin: 0;
    padding: 25px 0;
    max-width: 210px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
