.form__button-create {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  width: 358px;
  height: 50px;
  border: none;
  background-color: black;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.form__button-save:hover {
  opacity: .8;
}

@media screen and (max-width: 321px) {
  .form__button-create {
      margin-top: 45px;
      max-width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
  }
}
